// Default variable overrides

// scss-docs-start theme-color-variables
$primary:       #d9d9d9;
$secondary:     #c4bdc6;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #242129;
// scss-docs-end theme-color-variables

// Your variable overrides
$body-bg: #242129;
$body-color: #A9A9A9;

$grid-gutter-width: 5.5rem;


$font-family-base: 'Lato', sans-serif;
