{{ range .Site.Taxonomies.tags.events }}
<div class="container-fluid px-0">
    <div class="row row align-items-left shadow-lg py-4 ">
        <div class="col-md-6 align-self-center">
            <h1 class="palmela-beat">{{ .Title | upper}}</h1>
        </div>
        <div class="col-lg">
            <div class="row py-2">
                <h3>{{ .Params.eventDate | }} | {{ .Params.Schedule}} </h3>
                <h3>{{ .Params.Location }}</h3>
            </div>
            <div class="row-lg">
                <p>{{ .Description }}</p>
            </div>
            <div class="d-flex justify-content-evenly flex-wrap">
                {{ if isset .Params "images" }}
                {{ $image := .Params.Images}}
                {{ range $k, $i := $image }}
                <img src="{{ $i }}" loading="lazy" class="rounded img-fluid"
                    alt="featured image {{ $k }}" width="125px" height="125px">
                {{ end }}
                {{ end }}
            </div>
            <div class="d-flex justify-content-center mx-auto">
                <a class="btn btn btn-outline-secondary btn-sm px-4 mx-20 my-4" role="button" href="{{ .RelPermalink }}"
                    role="button">Sabe mais</a>
            </div>
        </div>
    </div>
</div>

{{ end }}