{{ define "main" }}

<section class="section bd-masthead mx-auto">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-8">
        <div class="col-sm">
          <img class="img-fluid" src="{{ `images/2024-01_-_Logotipo_AcidoBase__004-02.png` | relURL }}" width="750" height="auto" alt="" fetchpriority="high">
        </div>
        <div class="col-sm">
        </div>
      </div>
      <div class="col-sm align-self-center">
        <span class="lead mb-4">{{ .Site.Params.Slogan}}</span>
      </div>
    </div>
  </div>
</section>

<!--
<section class="section container my-3">
  {{ partial "features" . }}
</section>
-->


<section class="section container px-0 py-1 my-2">
  {{ partial "featured-video" (dict "videoID" "OC_M99VdQXc") }}
</section>


<!--
<section class="section container my-3">
  <h2 class="text-secondary text-center my-5">{{ T "news" }}</h2>
  {{ partial "latest-posts" . }}
</section>
-->


<section class="section container my-1 py-1">
  {{ partial "featured-events" . }}
</section>


{{ end }}