{{ define "main" }}

<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-8">
        <div class="col-sm">
          <img class="img" src="{{ `images/logo.svg` | relURL }}" width="75" height="75" alt="">
        </div>
        <div class="col-sm">
          <h1 class="acido-base">{{ .Site.Title }}</h1>
          <p class="lead mb-4">{{ .Site.Params.Description }}</p>
        </div>
      </div>
      <div class="col-sm align-self-center">
        <span class="lead mb-4">{{ .Site.Params.Slogan}}</span>
      </div>
    </div>
  </div>
</section>

<!--
<section class="section container my-3">
  {{ partial "features" . }}
</section>
-->

<!--
<section class="section container">
  {{ partial "featured-video" . }}
</section>
-->

<!--
<section class="section container my-3">
  <h2 class="text-secondary text-center my-5">{{ T "news" }}</h2>
  {{ partial "latest-posts" . }}
</section>
-->


<section class="section container my-3">
  {{ partial "featured-events" . }}
</section>


{{ end }}