
<form id="contact_form" name="contact_form" method="post">
    <div class="mb-5 row">
        <div class="col">
            <label>Nome</label>
            <input type="text" required maxlength="50" class="form-control" id="first_name" name="first_name">
        </div>
    </div>
    <div class="mb-5 row">
        <div class="col">
            <label for="email_addr">Email</label>
            <input type="email" required maxlength="50" class="form-control" id="email_addr" name="email"
                placeholder="nome@exemplo.com">
        </div>
    </div>
    <div class="mb-5">
        <label for="message">Mensagem</label>
        <textarea class="form-control" id="message" name="message" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary px-4 btn-lg">Enviar</button>
</form>